*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 2;
    width: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/*SOCIAL NAVIGATION BAR*/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.socialNav a{
    color: #fff;
}

.socialNav{
    background-color: #B4B8A0;
}

.socialNav ul{
    display: flex;
    padding-left: 40px;
    height: 40px;
}

.socialNav ul li{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/*TITLE SECTION*/

.headerContainer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    min-height: 4rem;
    align-items: center;
}

.title{
    padding-left: 40px;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.2rem;
    }
}

.pageNav {
    display: none;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding-right: 40px;
}

.close {
    display: none;
    font-size: 1rem;
    padding-top: 10px;
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 130px;
}

.navActive {
    display: block;
}

.navActive ul {
    flex-direction: column;
}

@media (min-width: 1024px) {
    .pageNav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .pageNav ul {
        display: row;
    }

    .close {
        display: none;
    }
}

.pageNav ul{
    display: flex;
    padding-right: 40px;
}

.pageNav ul li{
    margin-left: 30px;
}

.pageNav a{
    color: black;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.pageNav a:hover{
    background-color: #EAEBED;
    border-radius: 5px;
}

/*BODY SECTION*/

.heroContainer{
    background-image: url(images/sparoller.jpg);
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: black;
    padding-left: 30px;
    padding-top: 30px;
    line-height: 1.5;
}

.heroTitle{
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .heroTitle {
        font-size: 2.6rem;
        padding-bottom: 10px;
    }

    .heroContainer {
        height: 60vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .heroTitle {
        font-size: 3rem;
        padding-bottom: 10px;
    }
}

.heroSpan{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    padding: 5px 10px;
    position: relative;
    background-color: #DDBEA9;
    border-radius: 5px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
    top: 10px;
}

@media (max-width: 768px) {
    .heroSpan {
        font-size: 1.1rem;
    }
}

.heroSpan a{
    color: black;
}

.heroSpan:hover{
    background-color: #B98B74;
}

.heroText{
    width: 45%;
    margin-left: 5px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .heroText {
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .heroText {
        width: 70%;
    }
}

/*ABOUT SECTION*/

.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3C7B1;
    padding-bottom: 30px;
}

@media (max-width: 1024px) {
    .aboutContainer {
        padding-top: 90px;
    }
}

.aboutContent{
    background-color: #fff;
    max-width: 80%;
    text-align: center;
    border-radius: 10px;
    margin-top: -50px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.aboutTitle{
    font-size: 1.5rem;
    margin: 20px;
}

.aboutText{
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}

/*ABOUT CARDS*/

.aboutCards{
    display: flex;
    gap: 1.5rem;
}

.card{
    background-color: #EAEBED;
    border-radius: 5px;
    padding: 10px 20px;
    max-height: 600px;
}

.card p:not(.cardTitle){
    font-family: 'Open Sans', sans-serif;
}

.cardTitle{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.cardTitle i{
    margin-right: 10px;
}

@media (max-width: 768px) {
    .aboutCards {
        flex-wrap: wrap;
    }
}

/*INFO SECTIONS*/

.infoContainer{
    display: flex;
    background-color: #EEECE8;
}

.infoContainer img{
    object-fit: cover;
    width: 40%;
    height: auto;
}

@media (max-width: 768px) {
    .infoContainer {
        flex-wrap: wrap;
    }
    .infoContainer img {
        width: 100%;
        order: -1;
    }
}

.infoTitle{
    font-size: 1.7rem;
    padding-bottom: 2px;
}

.info{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.info ul{
    font-style: italic;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.info p:not(.infoTitle){
    max-width: 90%;
    padding-bottom: 15px;
    font-size: 1.05rem;
}

.info span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 1px;
}

.info a{
    color: #000;
    transition: color 0.3s ease;
}

.info a:hover{
    color: #95978A;
}

/*SECOND SECTION*/

.infoTwo{
    background-color: #E5E2DB;
    display: flex;
    justify-content: space-between;
}

.facial{
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

/*THIRD SECTION*/

.infoThree{
    background-color: #E2D9C8;
}

/*FOURTH SECTION*/

.infoFour{
    background-color: #E5E2DB;
    display: flex;
    justify-content: space-between;
}

/*BOOK*/

.book{
    background-color: #EEECE8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.bookTitle{
    font-size: 1.7rem;
    padding-bottom: 10px;
    font-weight: normal;
}

.book p{
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.form{
    padding-bottom: 15px;
}

.form label{
    padding-left: 20px;
}

.message{
    font-size: 1.2rem;
}

.submit{
    font-size: 1rem;
    background-color: #DDBEA9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.submit:hover{
    background-color: #B98B74;
}

@media (max-width: 1024px) {
    .form label {
        display: block;
        padding-left: 0;
    }
}
/*FOOTER*/

footer{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    padding: 10px;
    background-color: #B4B8A0;
}

footer span{
    padding-right: 20px;
}

footer a{
    padding-right: 15px;
    color: #000;
}

footer i{
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    footer {
        font-size: 0.8rem;
    }
    footer i {
        font-size: 1rem;
    }
}